@charset 'euc-jp';

body {
  background-image: url(../img/body_bg.png);
  background-color: #C2996B;
  color: #1D1007;
}

/* ナビゲーションバー ================= */
.navbar-inverse {
  background-color: #1D1007;
}

.navbar-inverse .navbar-brand {
  color: #C2996B;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #EFEDE0;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #C2996B;
}

.navbar-inverse .navbar-nav > li > a {
  color: #C2996B;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #EFEDE0;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #1D1007;
  background-color: #C2996B;
  background-image:url(../img/body_bg.png);
}

.navbar-inverse .navbar-toggle {
  border-color: #1D1007;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #1D1007;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #C2996B;
}

.btn-default {
  color: #C2996B;
  background-color: #7A1D1A;
  border-color: #7A1D1A;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #C2996B;
  background-color: #9A2F26;
  border-color: #9A2F26;
}


/* ============================== */

h1 {
  color:#1D1007;
  font-weight: bold;
}

h3 {
  font-size: 12px;
  line-height: 12px;
  color:#1D1007;
}

.save-label {
  color: #191A17;
}

hr {
  margin: 20px 0 2px;
  border: 0;
  border-bottom: 1px dotted #1D1007;
}

.footer {
  color: #1D1007;
}


a {
  color: #1D1007;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: underline;
}

/* ログイン画面 ================= */
.login {
  color:#FFFFFF;
}

@media (min-width: 768px) {
.login {
  position: relative;
  margin: 80px 33.33333333333333%;
  padding: 14px 19px 14px;
  *padding-top: 19px;
}
}

.form-login {
  margin-top:10px;
}

/* テキストフォーム	============================== */

.form-control {
  display: block;
  width: 100%;
  height: 28px;
  padding: 2px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #1D1007;
  vertical-align: middle;
  background-color: #EFEDE0;
  border: 1px solid #1D1007;
  border-radius: 0px;
}

.form-control:focus {
  border-color: #636363;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px #ffffff, 0 0 0 #333333;
          box-shadow: inset 0 0px 0px #ffffff, 0 0 0 #333333;
}

/* サムネイル ================================ */

.img {
  width: 100px;
}

.img-thumbnail {
  width: 80px;
}

.img-thumbnail-data {
  width: 120px;
}

/* テーブル ================================== */
table {
  background-color: #ffffff;
}

th {
  background-color: #1D1007;
  color: #C2996B;
}

.table tbody > tr > td {
  border-top: 1px;
}

.user-table {
  background: #ffffff;
  border:solid 1px #1D1007;
  background-image:url(../img/body_bg.png);
}

.table-footer {
  background-color: #1D1007;
  color: #C2996B;
}

.table-list {
  background: #ffffff;
  border: solid 1px #1D1007;
  margin-bottom: 0;
}

.table-list tbody > tr {
  border: solid 1px #eeeeee;
}

.table-data {
  border: solid 1px #000000;
}

.table-data tbody > tr > td {
  padding: 20px 40px 0px;
}

/* タブ ================================ */
.tab-content {
  background-color: #FFFFFF;
  padding: 18px;
}

.nav-tabs {
  border-bottom: 1px solid #ffffff;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 0px 0px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-bottom-color: transparent;
}


/* インプット ================================ */

.table-input {
  background-color: #eeeeee;
  background-image:url(../img/body_bg.png);
}

.input-label {
  color: #1D1007;
  font-size:10px;
}

/* バッジ===================================== */

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #C2996B;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #7A1D1A;
  border-radius: 10px;
}

.badge-d {
  color: #ffffff;
  background-color: #7A1D1A;
}

.badge-n {
  color: #ffffff;
  background-color: #3A443C;
}

/* =========================================== */

dt {
  color: #9A2F26;
}

dd {
  font-size: 12px;
  color: #1D1007;
}

/* モーダル=================================== */

.modal-body {
  position: relative;
  padding: 20px 20px 0px;
}

.modal-footer {
  padding: 0px 20px 20px;
  margin-top: 0px;
  text-align: right;
  border-top: 0px solid #e5e5e5;
}

.checkbox-a {
  width: 300px;
}

.checkbox-inline + .checkbox-inline {
  margin-left: 0px;
  margin-right: 0px;
}

.checkbox-s {
  width: 100px;
}

label.checkbox-inline {
  width: 42px;
}

p.muted-s {
  margin-bottom: 0px;
  font-size: 85%;
  color: #999999;
}

/* =========================================== */
